@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.CrosswordWindow {
    background: url("./bg.png") center/cover no-repeat border-box fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    position:relative;
    justify-content: center;
}

.Title {
    position: absolute;
    display: flexbox;
    z-index: 0;
    background: rgba(255, 80, 92, 0.75);
    margin: 1rem 0 0 -9.5rem;
    height: 7rem;
    width: 30rem;
    overflow: hidden;
    border-radius: 25px;
}

.Title p {
    position: absolute;
    display: block;
    margin: 3% 8%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

.board {
    position: absolute;
    z-index: 4;
    background: rgba(255, 80, 92, 0.75);
    overflow: true;
    display: inline-block;
    margin: 10rem 0;
}

.row {
    display: block;
}

.square {
    background-color: white;
    justify-self: center;
    height: 6.5vh;
    width: 6.5vh;
    font-size: 1.5rem;
    outline: none;
    border-color: rgb(255, 80, 92);
    box-shadow: none;
    /* margin: 0.15rem 0.15rem; */
    /* border-color:transparent; */
}

.square button {
    outline: none;
}

.Scoreboard {
    position: relative;
    display: flexbox;
    background-color: rgba(255, 80, 92, 0.75);
    margin: 170% 0% 0 230%;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.Scoreboard span {
    position: relative;
    display: inline-flex;
    margin: 17% 0 0 22%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    padding: 0 0;
    font-weight: 200;
}

.remCount {
    position: absolute;
    top: -5rem;
    left: 2.1rem;
}

.Congratulations {
    position: absolute;
    z-index: 0;
    margin: 0;
    height: 1vh;
    width: 1vw;
    background-color: #ff445c;
    opacity: 0;
    transition: width 1s ease-out, height 1.5s ease-out, opacity 1.5s linear;
  }
  

  .Congratulations.show{
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    z-index:5;
  }
.ReplayButton{
        height : 2rem;
        width:5rem;
        background-color: #f5f5f5;
        border-color:#888888; 
        font: 100 1rem  'Poppins', sans-serif;
}
/* .Congratulations p{
    margin:10% 0 0 5%;
} */

/* @media screen and (max-width:900px)
{
    .CongratsButton{
        margin:"0 0 0 -40%";
    }
} */